footer {
    background-color: black;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color:rgba(80, 79, 78, 0.356);
    font-size: 10px;
    color: black;
    text-align: right;
    height: 50px;
    }
    img {
    width: 100px;
    position: relative;
    display: block;
    margin: 0 auto;
    transform: translateY(20px);
    
    }