img {
    display: block;
    width: 40%;
    margin: 0px auto 0px auto;
}

div {
    width: 200px;
    display: block;
    margin: 30px auto;

}

.chat-box {
    width: 77%;
    margin: 0 auto;
    display: block;
}
    
.btn-nickname {
    float: left;
    width: 13%;
    min-width:60px;
    margin-left: 1%;
    
}

button {
    display: block;
    background-color: blue;
    color: white;

}
   

